[Unit]
    Description=pymscada - simulate
    BindsTo=pymscada-bus.service
    After=pymscada-bus.service

[Service]
    WorkingDirectory=/home/mscada
    ExecStart=/home/mscada/pymscada/.venv/bin/pymscada run simulate --config ./pymscada/docs/examples/simulate.yaml --tags ./pymscada/docs/examples/tags.yaml --verbose
    Restart=always
    RestartSec=5
    User=mscada
    Group=mscada

[Install]
    WantedBy=multi-user.target