[Unit]
    Description=pymscada - files
    BindsTo=pymscada-bus.service
    After=pymscada-bus.service

[Service]
    WorkingDirectory=__DIR__
    ExecStart=__PYMSCADA__ files --config __DIR__/config/files.yaml
    Restart=always
    RestartSec=5
    User=__USER__
    Group=__USER__

[Install]
    WantedBy=multi-user.target