[Unit]
    Description=pymscada - history
    BindsTo=pymscada-bus.service
    After=pymscada-bus.service

[Service]
    WorkingDirectory=__DIR__
    ExecStart=__PYMSCADA__ history --config __DIR__/config/history.yaml --tags __DIR__/config/tags.yaml
    Restart=always
    RestartSec=5
    User=mscada
    Group=mscada
    KillSignal=SIGINT

[Install]
    WantedBy=multi-user.target