[Unit]
    Description=pymscada - modbus client
    BindsTo=pymscada-bus.service
    After=pymscada-bus.service

[Service]
    WorkingDirectory=__DIR__
    ExecStart=__PYMSCADA__ modbusclient --config __DIR__/config/modbusclient.yaml
    Restart=always
    RestartSec=5
    User=mscada
    Group=mscada

[Install]
    WantedBy=multi-user.target