[Unit]
    Description=pymscada - main bus

[Service]
    WorkingDirectory=__DIR__
    ExecStart=__PYMSCADA__ bus --config __DIR__/config/bus.yaml
    Restart=always
    RestartSec=5
    User=mscada
    Group=mscada

[Install]
    WantedBy=multi-user.target