[Unit]
    Description=pymscada - pycomm3 client
    BindsTo=pymscada-bus.service
    After=pymscada-bus.service

[Service]
    WorkingDirectory=__DIR__
    ExecStart=__PYMSCADA__ logixclient --config __DIR__/config/logixclient.yaml
    Restart=always
    RestartSec=5
    User=__USER__
    Group=__USER__

[Install]
    WantedBy=multi-user.target
