[Unit]
    Description=pymscada - observer
    BindsTo=pymscada-bus.service
    After=pymscada-bus.service

[Service]
    WorkingDirectory=__DIR__
    ExecStart=__PYMSCADA__ observer --config __DIR__/config/observer.yaml
    Restart=always
    RestartSec=5
    User=__USER__
    Group=__USER__
    KillSignal=SIGINT

[Install]
    WantedBy=multi-user.target