[Unit]
    Description=pymscada - callout
    BindsTo=pymscada-bus.service
    After=pymscada-bus.service

[Service]
    WorkingDirectory=__DIR__
    ExecStart=__PYMSCADA__ callout --config __DIR__/yaml/callout.yaml --tags __DIR__/yaml/tags.yaml
    Restart=always
    RestartSec=5
    User=__USER__
    Group=__USER__
    KillSignal=SIGINT

[Install]
    WantedBy=multi-user.target