[Unit]
    Description=pymscada - operator notes
    BindsTo=pymscada-bus.service
    After=pymscada-bus.service

[Service]
    WorkingDirectory=__DIR__
    ExecStart=__PYMSCADA__ opnotes --config __DIR__/yaml/opnotes.yaml
    Restart=always
    RestartSec=5
    User=__USER__
    Group=__USER__
    KillSignal=SIGINT

[Install]
    WantedBy=multi-user.target