[Unit]
    Description=MobileSCADA Alarms__SITE__
    BindsTo=__PREFIX__-bus.service
    After=__PREFIX__-bus.service
    After=__PREFIX__-initvalues.service

[Service]
    WorkingDirectory=__DIR__
    ExecStart=__PYMSCADA__ alarms --config __DIR__/yaml/alarms.yaml --tags __DIR__/yaml/tags.yaml
    Restart=always
    RestartSec=5
    User=__USER__
    Group=__USER__
    KillSignal=SIGINT

[Install]
    WantedBy=multi-user.target