[Unit]
    Description=MobileSCADA Files__SITE__
    BindsTo=__PREFIX__-bus.service
    After=__PREFIX__-bus.service

[Service]
    WorkingDirectory=__DIR__
    ExecStart=__PYMSCADA__ files --config __DIR__/yaml/files.yaml
    Restart=always
    RestartSec=5
    User=__USER__
    Group=__USER__

[Install]
    WantedBy=multi-user.target