[Unit]
    Description=MobileSCADA OSI PI Client__SITE__
    BindsTo=__PREFIX__-bus.service
    After=__PREFIX__-bus.service
    After=__PREFIX__-initvalues.service

[Service]
    WorkingDirectory=__DIR__
    ExecStart=__PYMSCADA__ witsapiclient --config __DIR__/yaml/piapi.yaml
    Restart=always
    RestartSec=5
    User=__USER__
    Group=__USER__

[Install]
    WantedBy=multi-user.target
