[Unit]
    Description=MobileSCADA Transpower Dispatch Service__SITE__
    BindsTo=__PREFIX__-bus.service
    After=__PREFIX__-bus.service
    After=__PREFIX__-initvalues.service

[Service]
    WorkingDirectory=__DIR__
    ExecStart=__PYMSCADA__ tdsclient --config __DIR__/yaml/tdsclient.yaml --verbose
    Restart=always
    RestartSec=5
    User=__USER__
    Group=__USER__

[Install]
    WantedBy=multi-user.target
