[Unit]
    Description=MobileSCADA ping Client__SITE__
    BindsTo=__PREFIX__-bus.service
    After=__PREFIX__-bus.service

[Service]
    WorkingDirectory=__DIR__
    ExecStart=__PYMSCADA__ pingclient --config __DIR__/yaml/ping.yaml
    Restart=always
    RestartSec=5
    User=root
    Group=root

[Install]
    WantedBy=multi-user.target
